<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.3.dtd">
<module configVersion="1.3">
	
	<!-- logic Module Properties -->
	<id>@MODULE_ID@</id>
	<name>@MODULE_NAME@</name>
	<version>@MODULE_VERSION@</version>
	<package>@MODULE_PACKAGE@</package>
	<author>Ampath Developers [Jonah S. Mwogi, Oliver Mwalo, Nicholas Ingosi]</author>
	<description>This module is meant to help manage household level data for 
				studies around patients
	</description>
	<activator>org.openmrs.module.household.HouseholdActivator</activator>
	<updateURL>https://dev.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL>

	<!-- This module also works with the 1.6.x branch starting from 1.6.3.17711, but we can't release a
		 version like that to the repository, because it would auto-upgrade 1.7.0 and 1.7.1, and that
		 would break things. The following line can be commented out to build that special version -->
	<!-- <require_version>1.6.3.17711</require_version> -->
	<require_version>1.6.1</require_version>
	
    <extension>
        <point>org.openmrs.admin.list</point>
        <class>org.openmrs.module.household.ext.HouseholdAdminExt</class>
    </extension>
    
    <extension>
        <point>org.openmrs.patientDashboardTab</point>
        <class>org.openmrs.module.household.ext.HouseholdPatientDashboardTab</class>
    </extension>
    
    <!-- Privileges -->
    <privilege>
	    <name>Manage Household</name>
	    <description>This is privilege for user who can save or delete or modify a household information</description>
	</privilege>
	
	<privilege>
	    <name>View Household</name>
	    <description>This is privilege for user who can view a household information</description>
	</privilege>
	
	<privilege>
	    <name>Manage Household Encounters</name>
	    <description>This is privilege for user who can save or delete or modify a household encounters</description>
	</privilege>
	
	<privilege>
	    <name>View Household Obs</name>
	    <description>This is privilege for user who can view a household obs</description>
	</privilege>
	
	<privilege>
	    <name>Manage Household Obs</name>
	    <description>This is privilege for user who can save or delete a household obs</description>
	</privilege>
	
	<privilege>
	    <name>Manage Household Locations</name>
	    <description>This is privilege for user who can save or delete a household location</description>
	</privilege>
	
	<privilege>
	    <name>View Household Locations</name>
	    <description>This is privilege for user who can view a household location</description>
	</privilege>
    
    <!-- Global Properties -->
	<globalProperty>
		<property>household.enctype</property>
		<defaultValue>0</defaultValue>
		<description>
			This value represent the CHW initial encounter
		</description>
	</globalProperty>
	<globalProperty>
		<property>household.siteacronym</property>
		<defaultValue>H</defaultValue>
		<description>
			This value represent site that the module is currently installed. e.g. Turbo = TB
		</description>
	</globalProperty>
        <globalProperty>
		<property>household.enableAmpathLinks</property>
		<defaultValue>false</defaultValue>
		<description>
			Set this to true if you want to view the AMPATH program specific links. By default it is set to "false".
		</description>
	</globalProperty>
	<!-- Global Properties -->
	
	<!-- Servlets -->
	<!-- Servlets /-->
	
	<dwr>
		<allow>
			<create creator="new" javascript="DWRHouseholdService">
				<param name="class" value="@MODULE_PACKAGE@.web.dwr.DWRHouseholdService"/>
				<include method="getSubLocations"/>
				<include method="getVillage"/>
				<include method="getHousehold"/>
				<include method="getHouseholdEncountersObs"/>
				<include method="getHouseholdMembersPortlet"/>
				<include method="getCheckDigit"/>
				<include method="getHouseholds"/>
				<include method="getParentHouseholdDefinitions"/>
				<include method="getHouseholdsByPersonID"/>
				<include method="getHouseholdMems" />
				<include method="voidMembers" />
				<include method="saveMembersToHseHold" />
				<include method="addEditHouseholdDefinition" />
				<include method="addEditHouseholdEncounterType" />
				<include method="closeEntireHousehold" />
				<include method="createHousehold"/>
                                <include method="addEditHouseholdDepartment"/>
                                <include method="retireMembers"/>
                                <include method="retireHousehold"/>
                                <include method="changeIndex"/>
                                <include method="addQuasiMembers"/>
			</create>
			<convert match="org.openmrs.module.household.model.HouseholdDefinitionParent" converter="bean" />
                        <convert match="org.openmrs.module.household.model.HouseholdDefinition" converter="bean" />
			<convert match="org.openmrs.module.household.model.HouseholdMembership" converter="bean" />
			<convert match="org.openmrs.module.household.model.Household" converter="bean" />
			<convert match="org.openmrs.module.household.service.HouseholdService" converter="bean" />
                        
		</allow>

		<signatures>
			<![CDATA[
			import @MODULE_PACKAGE@.@MODULE_ID@.web.dwr.DWRHouseholdService;
			DWRHouseholdService.getSubLocations(String strLoc);
			DWRHouseholdService.getVillage(String strSubLoc, String strLoc);
			DWRHouseholdService.getHousehold(String strHouseholdID);
			DWRHouseholdService.getHouseholdEncountersObs(String encUuid)
			DWRHouseholdService.getHouseholdMembersPortlet(String grpids);
			DWRHouseholdService.getCheckDigit(String hhold);
			DWRHouseholdService.getHouseholds(String strUuid);
			DWRHouseholdService.getParentHouseholdDefinitions(String intPassed);
			DWRHouseholdService.getHouseholdsByPersonID(String personID);
			DWRHouseholdService.getHouseholdMems(String householdGrp);
			DWRHouseholdService.voidMembers(String voidId,String voidReason);
			DWRHouseholdService.saveMembersToHseHold(String []arr);
			DWRHouseholdService.addEditHouseholdDefinition(String [] passedArr);
			DWRHouseholdService.addEditHouseholdEncounterType(String [] passedArr);
			DWRHouseholdService.closeEntireHousehold(String householdId,String voidReason,String provID,String closedate);
			DWRHouseholdService.createHousehold(String [] arrInput);
                        DWRHouseholdService.addEditHouseholdDepartment(String [] passedArr);
                        DWRHouseholdService.retireMembers(String retireId, String dateRetired, String retireReason);
                        DWRHouseholdService.retireHousehold(String householdID, String dateRetired, String retireReason);
                        DWRHouseholdService.changeIndex(String [] passedArr);
                        DWRHouseholdService.addQuasiMembers(String [] passedArr);
			]]>
		</signatures>
	</dwr>
	
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<mappingFiles>
		${omodHbmConfig}
	</mappingFiles>
	<!-- /logic Module Properties -->
	
</module>
